<?xml version="1.0" encoding="UTF-8"?>
<queries>
	<query expr="Arthroscopic treatment of cruciate ligament injuries" >
		<doc>Arthroskopie.00130041.eng.abstr</doc>
		<doc>Arthroskopie.80110061.eng.abstr</doc>
		<doc>Arthroskopie.80110082.eng.abstr</doc>
		<doc>Arthroskopie.80110304.eng.abstr</doc>
		<doc>Arthroskopie.90120246.eng.abstr</doc>
		<doc>Arthroskopie.90120299.eng.abstr</doc>
		<doc>DerChirurg.70681093.eng.abstr</doc>
		<doc>DerUnfallchirurg.01030662.eng.abstr</doc>
		<doc>DerUnfallchirurg.01030864.eng.abstr</doc>
		<doc>DerUnfallchirurg.60990869.eng.abstr</doc>
		<doc>DerUnfallchirurg.81010491.eng.abstr</doc>
		<doc>DerUnfallchirurg.81010551.eng.abstr</doc>
		<doc>DerUnfallchirurg.91020354.eng.abstr</doc>
		<doc>DerUnfallchirurg.91020824.eng.abstr</doc>
	</query>
	<query expr="Complications of arthroscopic interventions" >
		<doc>Arthroskopie.00130041.eng.abstr</doc>
		<doc>Arthroskopie.00130232.eng.abstr</doc>
		<doc>Arthroskopie.00130237.eng.abstr</doc>
		<doc>Arthroskopie.00130241.eng.abstr</doc>
		<doc>Arthroskopie.80110016.eng.abstr</doc>
		<doc>Arthroskopie.80110034.eng.abstr</doc>
		<doc>Arthroskopie.80110098.eng.abstr</doc>
		<doc>Arthroskopie.80110187.eng.abstr</doc>
		<doc>Arthroskopie.90120125.eng.abstr</doc>
		<doc>Arthroskopie.90120148.eng.abstr</doc>
		<doc>Arthroskopie.90120166.eng.abstr</doc>
		<doc>Arthroskopie.90120194.eng.abstr</doc>
		<doc>Arthroskopie.90120318.eng.abstr</doc>
		<doc>DerChirurg.00710469.eng.abstr</doc>
		<doc>DerChirurg.80690306.eng.abstr</doc>
		<doc>DerOrthopaede.70260267.eng.abstr</doc>
		<doc>DerOrthopaede.80270532.eng.abstr</doc>
		<doc>DerOrthopaede.90280538.eng.abstr</doc>
		<doc>DerRadiologe.90390008.eng.abstr</doc>
		<doc>DerUnfallchirurg.01030858.eng.abstr</doc>
		<doc>DerUnfallchirurg.81010537.eng.abstr</doc>
		<doc>DerUnfallchirurg.81010551.eng.abstr</doc>
		<doc>DerUnfallchirurg.91020434.eng.abstr</doc>
	</query>
	<query expr="Pathophysiology and prophylaxis  of arthrofibrosis" >
		<doc>Arthroskopie.90120246.eng.abstr</doc>
		<doc>Arthroskopie.90120252.eng.abstr</doc>
		<doc>DerAnaesthesist.00490822.eng.abstr</doc>
		<doc>DerUnfallchirurg.01030726.eng.abstr</doc>
	</query>
	<query expr="HIV Epidemiology, Risk Assessment" >
		<doc>Bundesgesundheitsblatt.00430449.eng.abstr</doc>
		<doc>Bundesgesundheitsblatt.90420553.eng.abstr</doc>
		<doc>Bundesgesundheitsblatt.90420569.eng.abstr</doc>
		<doc>MonatsschriftKinderheilkunde.01480883.eng.abstr</doc>
		<doc>MundKieferGesichtschirurgie.90030236.eng.abstr</doc>
	</query>
	<query expr="Patient-controlled analgesia indications and limits" >
		<doc>DerAnaesthesist.40430316.eng.abstr</doc>
		<doc>DerAnaesthesist.7046s159.eng.abstr</doc>
		<doc>DerAnaesthesist.7046s172.eng.abstr</doc>
		<doc>DerAnaesthesist.80470238.eng.abstr</doc>
	</query>
	<query expr="Priming with non-depolarizing muscle relaxants" >
		<doc>DerAnaesthesist.50440334.eng.abstr</doc>
		<doc>DerAnaesthesist.60450512.eng.abstr</doc>
		<doc>DerAnaesthesist.70460486.eng.abstr</doc>
	</query>
	<query expr="Complications after laparoscopic cholecystectomy" >
		<doc>DerChirurg.00710166.eng.abstr</doc>
		<doc>DerChirurg.00710174.eng.abstr</doc>
		<doc>DerChirurg.60671047.eng.abstr</doc>
		<doc>DerChirurg.70680613.eng.abstr</doc>
		<doc>DerChirurg.80690061.eng.abstr</doc>
		<doc>DerChirurg.80690667.eng.abstr</doc>
		<doc>DerChirurg.90700270.eng.abstr</doc>
		<doc>DerAnaesthesist.90480538.eng.abstr</doc>
	</query>
	<query expr="Heparin induced thrombocytopenia, diagnosis and management" >
		<doc>DerChirurg.80690198.eng.abstr</doc>
		<doc>DerChirurg.90700588.eng.abstr</doc>
		<doc>DerChirurg.90701149.eng.abstr</doc>
		<doc>DerAnaesthesist.90480771.eng.abstr</doc>
		<doc>DerHautarzt.90500406.eng.abstr</doc>
		<doc>DerUnfallchirurg.71000646.eng.abstr</doc>
		<doc>Gefaesschirurgie.70020218.eng.abstr</doc>
		<doc>IntensiveMedizin.00370121.eng.abstr</doc>
		<doc>IntensiveMedizin.70340797.eng.abstr</doc>
		<doc>IntensiveMedizin.80350307.eng.abstr</doc>
		<doc>IntensiveMedizin.90360449.eng.abstr</doc>
		<doc>MonatsschriftKinderheilkunde.71450606.eng.abstr</doc>
		<doc>ZfuerHerzThoraxGefaesschirurgie.90130209.eng.abstr</doc>
		<doc>ZfuerKardiologie.90880141.eng.abstr</doc>
	</query>
	<query expr="Diagnostic in Lyme disease" >
		<doc>DerHautarzt.00510593.eng.abstr</doc>
		<doc>DerNervenarzt.80690694.eng.abstr</doc>
		<doc>DerNervenarzt.90700119.eng.abstr</doc>
		<doc>MonatsschriftKinderheilkunde.81460017.eng.abstr</doc>
		<doc>ZfuerRheumatologie.70560214.eng.abstr</doc>
		<doc>ZfuerRheumatologie.80570082.eng.abstr</doc>
	</query>
	<query expr="Treatment of acute myocardial infarction" >
		<doc>DerAnaesthesist.00490140.eng.abstr</doc>
		<doc>DerAnaesthesist.50440585.eng.abstr</doc>
		<doc>DerAnaesthesist.70460829.eng.abstr</doc>
		<doc>Herzschrittmachertherapie.00110102.eng.abstr</doc>
		<doc>IntensiveMedizin.00370226.eng.abstr</doc>
		<doc>IntensiveMedizin.00370488.eng.abstr</doc>
		<doc>IntensiveMedizin.00370555.eng.abstr</doc>
		<doc>IntensiveMedizin.70340058.eng.abstr</doc>
		<doc>IntensiveMedizin.80350213.eng.abstr</doc>
		<doc>IntensiveMedizin.80350417.eng.abstr</doc>
		<doc>IntensiveMedizin.90360027.eng.abstr</doc>
		<doc>IntensiveMedizin.90360304.eng.abstr</doc>
		<doc>IntensiveMedizin.90360727.eng.abstr</doc>
		<doc>Notfall+Rettungsmedizin.90020267.eng.abstr</doc>
		<doc>ZfuerKardiologie.00890036.eng.abstr</doc>
		<doc>ZfuerKardiologie.00890081.eng.abstr</doc>
		<doc>ZfuerKardiologie.00890330.eng.abstr</doc>
		<doc>ZfuerKardiologie.00890485.eng.abstr</doc>
		<doc>ZfuerKardiologie.0089iv30.eng.abstr</doc>
		<doc>ZfuerKardiologie.70860630.eng.abstr</doc>
		<doc>ZfuerKardiologie.70860712.eng.abstr</doc>
		<doc>ZfuerKardiologie.80870300.eng.abstr</doc>
		<doc>ZfuerKardiologie.80870492.eng.abstr</doc>
		<doc>ZfuerKardiologie.90880418.eng.abstr</doc>
	</query>
	<query expr="Catheter ablation and cardiac mapping" >
		<doc>Herzschrittmachertherapie.00110004.eng.abstr</doc>
		<doc>Herzschrittmachertherapie.00110011.eng.abstr</doc>
		<doc>Herzschrittmachertherapie.9010s039.eng.abstr</doc>
		<doc>Herzschrittmachertherapie.9010s047.eng.abstr</doc>
		<doc>MonatsschriftKinderheilkunde.71450020.eng.abstr</doc>
		<doc>ZfuerKardiologie.00890538.eng.abstr</doc>
		<doc>ZfuerKardiologie.00890546.eng.abstr</doc>
		<doc>ZfuerKardiologie.0089iii103.eng.abstr</doc>
		<doc>ZfuerKardiologie.0089iii122.eng.abstr</doc>
		<doc>ZfuerKardiologie.0089iii161.eng.abstr</doc>
		<doc>ZfuerKardiologie.0089iii171.eng.abstr</doc>
		<doc>ZfuerKardiologie.0089iii177.eng.abstr</doc>
		<doc>ZfuerKardiologie.0089iii87.eng.abstr</doc>
		<doc>ZfuerKardiologie.0089x043.eng.abstr</doc>
		<doc>ZfuerKardiologie.70860211.eng.abstr</doc>
		<doc>ZfuerKardiologie.70860557.eng.abstr</doc>
		<doc>ZfuerKardiologie.70860896.eng.abstr</doc>
		<doc>ZfuerKardiologie.80870227.eng.abstr</doc>
		<doc>ZfuerKardiologie.90881001.eng.abstr</doc>
	</query>
	<query expr="Diagnostic approach in injuries of the shoulder" >
		<doc>Arthroskopie.00130220.eng.abstr</doc>
		<doc>Arthroskopie.00130249.eng.abstr</doc>
		<doc>Arthroskopie.90120161.eng.abstr</doc>
		<doc>Arthroskopie.90120166.eng.abstr</doc>
		<doc>Arthroskopie.90120171.eng.abstr</doc>
		<doc>DerOrthopaede.00290196.eng.abstr</doc>
		<doc>DerOrthopaede.00290868.eng.abstr</doc>
		<doc>DerOrthopaede.00290917.eng.abstr</doc>
		<doc>DerOrthopaede.80270002.eng.abstr</doc>
		<doc>DerRadiologe.60360951.eng.abstr</doc>
		<doc>DerRadiologe.60360971.eng.abstr</doc>
		<doc>DerRadiologe.70370819.eng.abstr</doc>
		<doc>DerUnfallchirurg.71000186.eng.abstr</doc>
		<doc>DerUnfallchirurg.91020393.eng.abstr</doc>
		<doc>DerUnfallchirurg.91020897.eng.abstr</doc>
		<doc>Trauma+Berufskrankheit.0002s186.eng.abstr</doc>
	</query>
	<query expr="Differential diagnosis in infertility" >
		<doc>Bundesgesundheitsblatt.90420471.eng.abstr</doc>
		<doc>DerGynaekologe.00330094.eng.abstr</doc>
		<doc>DerGynaekologe.00330104.eng.abstr</doc>
		<doc>DerGynaekologe.00330113.eng.abstr</doc>
		<doc>DerGynaekologe.00330135.eng.abstr</doc>
		<doc>DerGynaekologe.00330788.eng.abstr</doc>
		<doc>DerHautarzt.00510833.eng.abstr</doc>
		<doc>DerHautarzt.40450020.eng.abstr</doc>
		<doc>DerHautarzt.40450611.eng.abstr</doc>
		<doc>DerUrologeA.80370254.eng.abstr</doc>
		<doc>DerUrologeA.80370265.eng.abstr</doc>
		<doc>DerUrologeA.80370277.eng.abstr</doc>
		<doc>Reproduktionsmedizin.00160003.eng.abstr</doc>
		<doc>Reproduktionsmedizin.00160147.eng.abstr</doc>
		<doc>Reproduktionsmedizin.00160155.eng.abstr</doc>
		<doc>Reproduktionsmedizin.00160183.eng.abstr</doc>
		<doc>Reproduktionsmedizin.90150009.eng.abstr</doc>
		<doc>Reproduktionsmedizin.90150029.eng.abstr</doc>
		<doc>Reproduktionsmedizin.90150055.eng.abstr</doc>
		<doc>Reproduktionsmedizin.90150087.eng.abstr</doc>
		<doc>Reproduktionsmedizin.90150108.eng.abstr</doc>
		<doc>Reproduktionsmedizin.90150313.eng.abstr</doc>
		<doc>Reproduktionsmedizin.90150356.eng.abstr</doc>
	</query>
	<query expr="Approach of the correction of deformities in orthopedics" >
		<doc>Arthroskopie.00130241.eng.abstr</doc>
		<doc>Arthroskopie.90120022.eng.abstr</doc>
		<doc>Arthroskopie.90120074.eng.abstr</doc>
		<doc>DerChirurg.80690866.eng.abstr</doc>
		<doc>DerChirurg.80691141.eng.abstr</doc>
		<doc>DerChirurg.80691153.eng.abstr</doc>
		<doc>DerChirurg.80691167.eng.abstr</doc>
		<doc>DerOrthopaede.00290002.eng.abstr</doc>
		<doc>DerOrthopaede.00290009.eng.abstr</doc>
		<doc>DerOrthopaede.00290047.eng.abstr</doc>
		<doc>DerOrthopaede.00290058.eng.abstr</doc>
		<doc>DerOrthopaede.00290209.eng.abstr</doc>
		<doc>DerOrthopaede.00290490.eng.abstr</doc>
		<doc>DerOrthopaede.00290507.eng.abstr</doc>
		<doc>DerOrthopaede.00290518.eng.abstr</doc>
		<doc>DerOrthopaede.00290524.eng.abstr</doc>
		<doc>DerOrthopaede.00290535.eng.abstr</doc>
		<doc>DerOrthopaede.00290543.eng.abstr</doc>
		<doc>DerOrthopaede.00290757.eng.abstr</doc>
		<doc>DerOrthopaede.00290766.eng.abstr</doc>
		<doc>DerOrthopaede.00290787.eng.abstr</doc>
		<doc>DerOrthopaede.60250302.eng.abstr</doc>
		<doc>DerOrthopaede.60250317.eng.abstr</doc>
		<doc>DerOrthopaede.60250324.eng.abstr</doc>
		<doc>DerOrthopaede.60250338.eng.abstr</doc>
		<doc>DerOrthopaede.60250354.eng.abstr</doc>
		<doc>DerOrthopaede.70260273.eng.abstr</doc>
		<doc>DerOrthopaede.70260701.eng.abstr</doc>
		<doc>DerOrthopaede.70260774.eng.abstr</doc>
		<doc>DerOrthopaede.70260781.eng.abstr</doc>
		<doc>DerOrthopaede.70261030.eng.abstr</doc>
		<doc>DerOrthopaede.80270167.eng.abstr</doc>
		<doc>DerOrthopaede.80270733.eng.abstr</doc>
		<doc>DerOrthopaede.80270743.eng.abstr</doc>
		<doc>DerOrthopaede.90280100.eng.abstr</doc>
		<doc>DerOrthopaede.90280110.eng.abstr</doc>
		<doc>DerOrthopaede.90280143.eng.abstr</doc>
		<doc>DerOrthopaede.90280151.eng.abstr</doc>
		<doc>DerOrthopaede.90280159.eng.abstr</doc>
		<doc>DerOrthopaede.90280731.eng.abstr</doc>
		<doc>DerOrthopaede.90280750.eng.abstr</doc>
		<doc>DerOrthopaede.90280760.eng.abstr</doc>
		<doc>DerOrthopaede.90281023.eng.abstr</doc>
		<doc>DerOrthopaede.90281034.eng.abstr</doc>
		<doc>DerOrthopaede.90281045.eng.abstr</doc>
		<doc>DerOrthopaede.90281058.eng.abstr</doc>
		<doc>DerOrthopaede.90281066.eng.abstr</doc>
		<doc>DerUnfallchirurg.01030197.eng.abstr</doc>
		<doc>DerUnfallchirurg.01030507.eng.abstr</doc>
		<doc>DerUnfallchirurg.71000029.eng.abstr</doc>
		<doc>DerUnfallchirurg.71000124.eng.abstr</doc>
		<doc>DerUnfallchirurg.71000270.eng.abstr</doc>
		<doc>DerUnfallchirurg.71000371.eng.abstr</doc>
		<doc>DerUnfallchirurg.71000787.eng.abstr</doc>
		<doc>DerUnfallchirurg.91020652.eng.abstr</doc>
		<doc>DerUnfallchirurg.91020684.eng.abstr</doc>
		<doc>DerUnfallchirurg.91020918.eng.abstr</doc>
		<doc>ManuelleMedizin.90370304.eng.abstr</doc>
		<doc>MonatsschriftKinderheilkunde.71451289.eng.abstr</doc>
		<doc>OperativeOrthopaedie.00120016.eng.abstr</doc>
		<doc>OperativeOrthopaedie.00120075.eng.abstr</doc>
		<doc>OperativeOrthopaedie.00120173.eng.abstr</doc>
		<doc>OperativeOrthopaedie.00120220.eng.abstr</doc>
		<doc>OperativeOrthopaedie.90110319.eng.abstr</doc>
		<doc>ZfuerRheumatologie.00590101.eng.abstr</doc>
	</query>
	<query expr="Treatment of squamous cell carcinoma" >
		<doc>DerHautarzt.00510766.eng.abstr</doc>
		<doc>DerPathologe.90200042.eng.abstr</doc>
		<doc>DerPathologe.90200236.eng.abstr</doc>
		<doc>DerUrologeA.70360157.eng.abstr</doc>
		<doc>HNO.00480470.eng.abstr</doc>
		<doc>HNO.70450140.eng.abstr</doc>
		<doc>HNO.90470723.eng.abstr</doc>
		<doc>MundKieferGesichtschirurgie.00040301.eng.abstr</doc>
		<doc>MundKieferGesichtschirurgie.00040315.eng.abstr</doc>
		<doc>MundKieferGesichtschirurgie.00040330.eng.abstr</doc>
		<doc>MundKieferGesichtschirurgie.0004s160.eng.abstr</doc>
		<doc>MundKieferGesichtschirurgie.80020011.eng.abstr</doc>
		<doc>MundKieferGesichtschirurgie.80020172.eng.abstr</doc>
		<doc>MundKieferGesichtschirurgie.90030106.eng.abstr</doc>
		<doc>MundKieferGesichtschirurgie.90030257.eng.abstr</doc>
		<doc>MundKieferGesichtschirurgie.9003s144.eng.abstr</doc>
		<doc>ZfuerHerzThoraxGefaesschirurgie.90130073.eng.abstr</doc>
	</query>
	<query expr="Associated diseases with insulin dependent diabetes mellitus" >
		<doc>DerAnaesthesist.40430333.eng.abstr</doc>
		<doc>DerHautarzt.40450074.eng.abstr</doc>
		<doc>DerNervenarzt.70680129.eng.abstr</doc>
		<doc>DerOpthalmologe.00970325.eng.abstr</doc>
		<doc>DerOpthalmologe.60930694.eng.abstr</doc>
		<doc>DerOpthalmologe.70940268.eng.abstr</doc>
		<doc>DerOpthalmologe.70940401.eng.abstr</doc>
		<doc>Gefaesschirurgie.80030065.eng.abstr</doc>
		<doc>Gefaesschirurgie.90040220.eng.abstr</doc>
		<doc>MedizinischeKlinik.00950487.eng.abstr</doc>
		<doc>MonatsschriftKinderheilkunde.71450370.eng.abstr</doc>
		<doc>MonatsschriftKinderheilkunde.71450506.eng.abstr</doc>
		<doc>MonatsschriftKinderheilkunde.81460942.eng.abstr</doc>
		<doc>ZfuerKardiologie.90880215.eng.abstr</doc>
		<doc>ZfuerKardiologie.90880338.eng.abstr</doc>
	</query>
	<query expr="Therapy in chronic low back pain" >
		<doc>DerAnaesthesist.70460516.eng.abstr</doc>
		<doc>DerNervenarzt.60671030.eng.abstr</doc>
		<doc>DerNervenarzt.80690306.eng.abstr</doc>
		<doc>DerNervenarzt.90700225.eng.abstr</doc>
		<doc>DerOrthopaede.70260535.eng.abstr</doc>
		<doc>DerOrthopaede.70260544.eng.abstr</doc>
		<doc>DerOrthopaede.80270457.eng.abstr</doc>
		<doc>DerOrthopaede.90280932.eng.abstr</doc>
		<doc>DerOrthopaede.90280939.eng.abstr</doc>
		<doc>DerOrthopaede.90280958.eng.abstr</doc>
		<doc>DerSchmerz.00140146.eng.abstr</doc>
		<doc>DerSchmerz.60100036.eng.abstr</doc>
		<doc>DerSchmerz.60100190.eng.abstr</doc>
		<doc>DerSchmerz.60100237.eng.abstr</doc>
		<doc>DerSchmerz.60100269.eng.abstr</doc>
		<doc>DerSchmerz.70110085.eng.abstr</doc>
		<doc>DerSchmerz.70110165.eng.abstr</doc>
		<doc>DerSchmerz.70110328.eng.abstr</doc>
		<doc>DerSchmerz.70110396.eng.abstr</doc>
		<doc>DerSchmerz.90130019.eng.abstr</doc>
		<doc>DerSchmerz.90130205.eng.abstr</doc>
		<doc>ManuelleMedizin.70350118.eng.abstr</doc>
		<doc>ManuelleMedizin.70350184.eng.abstr</doc>
		<doc>ManuelleMedizin.80360066.eng.abstr</doc>
		<doc>ManuelleMedizin.80360233.eng.abstr</doc>
		<doc>ManuelleMedizin.90370304.eng.abstr</doc>
		<doc>ZfuerRheumatologie.00590303.eng.abstr</doc>
	</query>
	<query expr="Treatment of ventricular tachycardia" >
		<doc>DerAnaesthesist.60450856.eng.abstr</doc>
		<doc>DerAnaesthesist.80470320.eng.abstr</doc>
		<doc>Herzschrittmachertherapie.80090134.eng.abstr</doc>
		<doc>Herzschrittmachertherapie.80090169.eng.abstr</doc>
		<doc>Herzschrittmachertherapie.80090223.eng.abstr</doc>
		<doc>Herzschrittmachertherapie.8009s009.eng.abstr</doc>
		<doc>IntensiveMedizin.80350557.eng.abstr</doc>
		<doc>MonatsschriftKinderheilkunde.01480138.eng.abstr</doc>
		<doc>MonatsschriftKinderheilkunde.71451051.eng.abstr</doc>
		<doc>MonatsschriftKinderheilkunde.91471086.eng.abstr</doc>
		<doc>ZfuerKardiologie.00890295.eng.abstr</doc>
		<doc>ZfuerKardiologie.0089iii161.eng.abstr</doc>
		<doc>ZfuerKardiologie.0089iii171.eng.abstr</doc>
		<doc>ZfuerKardiologie.0089iii177.eng.abstr</doc>
		<doc>ZfuerKardiologie.0089iii186.eng.abstr</doc>
		<doc>ZfuerKardiologie.0089x011.eng.abstr</doc>
		<doc>ZfuerKardiologie.0089x051.eng.abstr</doc>
		<doc>ZfuerKardiologie.70860557.eng.abstr</doc>
		<doc>ZfuerKardiologie.80870353.eng.abstr</doc>
		<doc>ZfuerKardiologie.90880369.eng.abstr</doc>
		<doc>ZfuerKardiologie.90880559.eng.abstr</doc>
		<doc>ZfuerKardiologie.90880815.eng.abstr</doc>
	</query>
	<query expr="Indication for implantable cardioverter defibrillator (ICD)" >
		<doc>DerAnaesthesist.80470320.eng.abstr</doc>
		<doc>Herzschrittmachertherapie.00110052.eng.abstr</doc>
		<doc>Herzschrittmachertherapie.80090169.eng.abstr</doc>
		<doc>Herzschrittmachertherapie.8009s009.eng.abstr</doc>
		<doc>Herzschrittmachertherapie.8009s044.eng.abstr</doc>
		<doc>Herzschrittmachertherapie.8009s079.eng.abstr</doc>
		<doc>Herzschrittmachertherapie.90100023.eng.abstr</doc>
		<doc>MedizinischeKlinik.00950517.eng.abstr</doc>
		<doc>MonatsschriftKinderheilkunde.01480138.eng.abstr</doc>
		<doc>MonatsschriftKinderheilkunde.71450466.eng.abstr</doc>
		<doc>ZfuerHerzThoraxGefaesschirurgie.00140013.eng.abstr</doc>
		<doc>ZfuerHerzThoraxGefaesschirurgie.9013s007.eng.abstr</doc>
		<doc>ZfuerKardiologie.0089iii161.eng.abstr</doc>
		<doc>ZfuerKardiologie.0089vii55.eng.abstr</doc>
		<doc>ZfuerKardiologie.0089x011.eng.abstr</doc>
		<doc>ZfuerKardiologie.0089x051.eng.abstr</doc>
		<doc>ZfuerKardiologie.80870032.eng.abstr</doc>
		<doc>ZfuerKardiologie.80870640.eng.abstr</doc>
		<doc>ZfuerKardiologie.8087s106.eng.abstr</doc>
		<doc>ZfuerKardiologie.90880521.eng.abstr</doc>
		<doc>ZfuerKardiologie.90880815.eng.abstr</doc>
	</query>
	<query expr="Diagnostic in acute and chronic myocarditis" >
		<doc>Herz.00250200.eng.abstr</doc>
		<doc>Herz.00250221.eng.abstr</doc>
		<doc>ZfuerKardiologie.0089iii24.eng.abstr</doc>
		<doc>ZfuerKardiologie.70860292.eng.abstr</doc>
		<doc>ZfuerKardiologie.70860298.eng.abstr</doc>
		<doc>ZfuerKardiologie.80870105.eng.abstr</doc>
		<doc>ZfuerKardiologie.80870443.eng.abstr</doc>
	</query>
	<query expr="Cause of dysphagia" >
		<doc>DerChirurg.70680543.eng.abstr</doc>
		<doc>DerChirurg.80690471.eng.abstr</doc>
		<doc>DerChirurg.90701031.eng.abstr</doc>
		<doc>DerNervenarzt.90700916.eng.abstr</doc>
		<doc>DerRadiologe.00400596.eng.abstr</doc>
		<doc>DerRadiologe.60360508.eng.abstr</doc>
		<doc>DerRadiologe.80380117.eng.abstr</doc>
		<doc>HNO.00480281.eng.abstr</doc>
		<doc>HNO.70450556.eng.abstr</doc>
		<doc>HNO.80460712.eng.abstr</doc>
		<doc>HNO.80460925.eng.abstr</doc>
		<doc>HNO.90470167.eng.abstr</doc>
		<doc>HNO.90470479.eng.abstr</doc>
		<doc>MonatsschriftKinderheilkunde.91470279.eng.abstr</doc>
		<doc>MundKieferGesichtschirurgie.00040171.eng.abstr</doc>
	</query>
	<query expr="Treatment of sensorineural hearing loss (SNHL)" >
		<doc>HNO.70450749.eng.abstr</doc>
		<doc>HNO.70450758.eng.abstr</doc>
		<doc>HNO.70450769.eng.abstr</doc>
		<doc>HNO.70450775.eng.abstr</doc>
		<doc>HNO.70450792.eng.abstr</doc>
		<doc>HNO.70450816.eng.abstr</doc>
		<doc>HNO.70450828.eng.abstr</doc>
		<doc>HNO.70450840.eng.abstr</doc>
		<doc>HNO.70450847.eng.abstr</doc>
		<doc>HNO.70450872.eng.abstr</doc>
		<doc>HNO.80460121.eng.abstr</doc>
		<doc>HNO.80460220.eng.abstr</doc>
		<doc>HNO.80460844.eng.abstr</doc>
		<doc>HNO.80460853.eng.abstr</doc>
	</query>
	<query expr="Complications of surgical repair of aortic aneurysm" >
		<doc>DerChirurg.00710436.eng.abstr</doc>
		<doc>DerChirurg.70680403.eng.abstr</doc>
		<doc>DerChirurg.80690963.eng.abstr</doc>
		<doc>Gefaesschirurgie.00050147.eng.abstr</doc>
		<doc>Gefaesschirurgie.00050241.eng.abstr</doc>
		<doc>Gefaesschirurgie.90040101.eng.abstr</doc>
		<doc>Gefaesschirurgie.90040203.eng.abstr</doc>
		<doc>Gefaesschirurgie.90040233.eng.abstr</doc>
	</query>
	<query expr="Treatment of psychosomatical patients" >
		<doc>DerGynaekologe.00330782.eng.abstr</doc>
		<doc>DerHautarzt.60470628.eng.abstr</doc>
		<doc>DerNervenarzt.60670789.eng.abstr</doc>
		<doc>DerNervenarzt.80690401.eng.abstr</doc>
		<doc>DerSchmerz.60100036.eng.abstr</doc>
		<doc>DerUrologeA.80370487.eng.abstr</doc>
		<doc>ForumDerPsychoanalyse.00160261.eng.abstr</doc>
		<doc>Psychotherapeut.00450010.eng.abstr</doc>
		<doc>Psychotherapeut.00450018.eng.abstr</doc>
		<doc>Psychotherapeut.00450223.eng.abstr</doc>
		<doc>Psychotherapeut.60410036.eng.abstr</doc>
		<doc>Psychotherapeut.70420223.eng.abstr</doc>
		<doc>Psychotherapeut.80430171.eng.abstr</doc>
		<doc>Psychotherapeut.80430296.eng.abstr</doc>
		<doc>Psychotherapeut.90440001.eng.abstr</doc>
		<doc>Psychotherapeut.90440020.eng.abstr</doc>
	</query>
	<query expr="New approach in cruciate ligament surgery" >
		<doc>Arthroskopie.00130030.eng.abstr</doc>
		<doc>Arthroskopie.00130035.eng.abstr</doc>
		<doc>Arthroskopie.00130041.eng.abstr</doc>
		<doc>Arthroskopie.00130047.eng.abstr</doc>
		<doc>Arthroskopie.80110061.eng.abstr</doc>
		<doc>Arthroskopie.80110068.eng.abstr</doc>
		<doc>Arthroskopie.90120246.eng.abstr</doc>
		<doc>Arthroskopie.90120260.eng.abstr</doc>
		<doc>Arthroskopie.90120299.eng.abstr</doc>
		<doc>Arthroskopie.90120305.eng.abstr</doc>
		<doc>DerChirurg.00711024.eng.abstr</doc>
		<doc>DerChirurg.00711034.eng.abstr</doc>
		<doc>DerUnfallchirurg.01030375.eng.abstr</doc>
		<doc>DerUnfallchirurg.01030662.eng.abstr</doc>
		<doc>DerUnfallchirurg.01030726.eng.abstr</doc>
		<doc>DerUnfallchirurg.60990869.eng.abstr</doc>
		<doc>DerUnfallchirurg.71000750.eng.abstr</doc>
		<doc>DerUnfallchirurg.81010551.eng.abstr</doc>
		<doc>DerUnfallchirurg.81010775.eng.abstr</doc>
		<doc>DerUnfallchirurg.91020035.eng.abstr</doc>
		<doc>DerUnfallchirurg.91020115.eng.abstr</doc>
		<doc>DerUnfallchirurg.91020763.eng.abstr</doc>
		<doc>DerUnfallchirurg.91020791.eng.abstr</doc>
		<doc>OperativeOrthopaedie.00120146.eng.abstr</doc>
	</query>
</queries>
